

.Logo{
    max-width: 200px;
    margin-left: 15%;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;

}


ul{
    list-style: none;
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
    margin: 20px;
}

li{
    margin: 0 10px;
    cursor: pointer;
    min-width: 100px;
}

footer{
    background-color: #edefee;
    display: flex;
    font-size: small;
    padding-top: 10px;
    justify-content: center;
    padding: 20px 20px;
    flex-wrap: wrap;
}

.footer-img{
    max-width: 150px;
    max-height: 175px;
}

.Footer-Nav{
    font-weight: bold;
}

.ul-Footer{
    flex-direction: column;
    align-items: center;
}


.Header{
    background-color: #495e57;
    height: 300px;
    margin-top: 10px;
}

.Main{
    height: 300px;
}
