

.Logo{
    width: 150px;
    margin-left: 13%;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
    margin-right: 7%;
}


ul{
    list-style: none;
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
    margin: 20px;
}

li{
    margin: 0 10px;
    cursor: pointer;
    min-width: 100px;
}

footer{
    background-color: #fbdabb;
    display: flex;
    font-size: small;
    padding-top: 10px;
    padding: 20px 20px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 767px) {
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.footer-img{
    max-width: 150px;
    max-height: 175px;
}

.Footer-Nav{
    font-weight: bold;
}

.ul-Footer{
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}


.Header{
    background-color: #495e57;
    min-height:  300px;
    margin-top: 10px;
    display: flex;
    position:relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    max-width: auto;
}
/* break point for mobile version of viewpoint */
@media (max-width: 767px) {
    .Header, .header-text, .header-title{
        flex-direction: column;
        align-items: center;
        min-height: auto;
        margin-inline: auto;
    }
}
/* break point for mobile version of viewpoint */
@media (max-width: 767px) {
    .links,ul{
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        font-size:xx-large;
    }
}

.header-text{
    max-width: 280px;
    margin-left: 12%;
    color: white;
}

.header-title{
    color:#f4ce14;
    font-size: 60px;
    text-wrap: nowrap;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header-city{
    margin-top: 0;
    padding-top: 0;
}

.header-description{
    max-width: 300px;
}

.Hero-img{
    width: 280px;
    height: 370px;
    min-width: 290px;
    border-radius: 15px;
    margin-top:25px;
    margin-bottom: -80px;
    margin-right: 170px;
}
/* break point, that changes 
    the view for mobile viewpoints. */
@media (max-width: 767px) {
    .Hero-img{
        display: none;
    }
}

.Reserve-btn{
    width: 140px;
    background-color: #f4ce14;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    border: none;
}

.Main{
    max-height: 600px;
    padding-top: 100px;
}

.main-title{
    display: flex;
    justify-content: space-between;
}

.main-specials-txt{
    margin-left: 12%;
}

.main-menu-btn{
    background-color: #f4ce14;
    font-weight: bold;
    border-radius: 15px;
    height: 45px;
    border: none;
    margin-right: 180px;
    padding-left: 30px;
    padding-right: 30px;
    text-wrap: nowrap;
    text-align: center;
}

.main-card{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin-left: 12%;
}
.card-1{
    display: inline-block;
}

.cost{
    font-size: 20px;
    margin-left: 30px;
}

.card-2{

}
.card-3{
    margin-left: 10px;
}

.greeksalad-img,.dessert-img,.bruschetta-img{
    max-width: 300px;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    width: 225px;
}