

.Logo{
    max-width: 200px;
    margin-left: 15%;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
}


ul{
    list-style: none;
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
    margin: 20px;
}

li{
    margin: 0 10px;
    cursor: pointer;
    min-width: 100px;
}

footer{
    background-color: #edefee;
    display: flex;
    font-size: small;
    padding-top: 10px;
    padding: 20px 20px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 767px) {
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer-img{
    max-width: 150px;
    max-height: 175px;
}

.Footer-Nav{
    font-weight: bold;
}

.ul-Footer{
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}


.Header{
    background-color: #495e57;
    min-height:  300px;
    margin-top: 10px;
    display: flex;
    position:relative;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    max-width: auto;
}

@media (max-width: 767px) {
    .Header, .header-text, .header-title{
        flex-direction: column;
        align-items: center;
        min-height: auto;
        margin-inline: auto;
    }
}

@media (max-width: 767px) {
    .links,ul{
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.header-text{
    max-width: 280px;
    margin-left: 16%;
    color: white;
}

.header-title{
    color:#f4ce14;
    font-size: 60px;
    text-wrap: nowrap;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header-city{
    margin-top: 0;
    padding-top: 0;
}

.header-description{
    max-width: 300px;
}

.Hero-img{
    max-width: 290px;
    height: 350px;
    min-width: 290px;
    border-radius: 30px;
    margin-top:50px;
    margin-bottom: -50px;
    margin-right: 80px;
}

@media (max-width: 767px) {
    .Hero-img{
        display: none;
    }
}

.Reserve-btn{
    width: 140px;
    background-color: #f4ce14;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    border: none;
}

.Main{
    height: 300px;
}
